table {
  width : 100%;
}

th {
  width: calc(100% / 7);
  border : 1px solid;
}

td {
  text-align: center;
}

.header {
  display: flex;
  background-color: #282c34;
  justify-content: space-between;
}

.App {
  background-color: #282c34;
  font-size : calc(10px + 2vmin);
  color : white;
  padding : 12.5px;
  text-align: center;
  display:inline-block;
}

.search-bar {
  height : 50%;
  margin-top : calc(2vmin);
}

.Title {
  padding : 12.5px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.element {
  width: 300px;
  height: 200px;
  background-image: url('../earth.svg');
  background-size: cover; /* Ensures the SVG covers the entire area */
  background-position: center; /* Centers the SVG */
  background-repeat: no-repeat; /* Prevents the SVG from repeating */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
